<div class="card text-light myCustomCard">
  <div class="p-2 cardHeader">
    <h5 class="myCardTitle">{{this.title}}</h5>
    <h6 class="card-subtitle">{{this.gameTitle}}</h6>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      {{#if img}}
      <img src="{{this.img}}" class="img-fluid rounded-start" alt="game img">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body text-light myCustomCardBody">
        <p class="card-text">{{this.body}}</p>
        <p class="card-text"><small class="text">{{this.user.name}} on {{format_date this.date_created}}</small></p>
      </div>
    </div>
  </div>
</div>