<div class="container">

{{#each boardGameReviews as |review| }}
<div class="row align-center mb-5 text-light">
  <p>Review Title: {{review.title}}</p>
  <p>Game Title: {{review.gameTitle}}</p>
  <p>Body: {{review.body}}</p>
  <p>Date Created: {{review.date_created}}</p>
</div>
{{/each}}

{{#each cardGameReviews as |review| }}
<div class="row align-center mb-5 text-light">
  <p>Review Title: {{review.title}}</p>
  <p>Game Title: {{review.gameTitle}}</p>
  <p>Body: {{review.body}}</p>
  <p>Date Created: {{review.date_created}}</p>
</div>
{{/each}}

{{#each videoGameReviews as |review| }}
<div class="row align-center mb-5 text-light">
  <p>Review Title: {{review.title}}</p>
  <p>Game Title: {{review.gameTitle}}</p>
  <p>Body: {{review.body}}</p>
  <p>Date Created: {{review.date_created}}</p>
</div>
{{/each}}

</div>
